 CRC16 n -> y
 CRYPTO n -> y
 EXT4_FS n -> y
+BUFFER_HEAD y
+CRYPTO_842 n
+CRYPTO_ADIANTUM n
+CRYPTO_AEGIS128 n
+CRYPTO_AEGIS128_AESNI_SSE2 n
+CRYPTO_AES n
+CRYPTO_AES_NI_INTEL n
+CRYPTO_AES_TI n
+CRYPTO_ALGAPI y
+CRYPTO_ALGAPI2 y
+CRYPTO_ANSI_CPRNG n
+CRYPTO_ARIA n
+CRYPTO_ARIA_AESNI_AVX2_X86_64 n
+CRYPTO_ARIA_AESNI_AVX_X86_64 n
+CRYPTO_ARIA_GFNI_AVX512_X86_64 n
+CRYPTO_AUTHENC n
+CRYPTO_BLAKE2B n
+CRYPTO_BLAKE2S_X86 n
+CRYPTO_BLOWFISH n
+CRYPTO_BLOWFISH_X86_64 n
+CRYPTO_CAMELLIA n
+CRYPTO_CAMELLIA_AESNI_AVX2_X86_64 n
+CRYPTO_CAMELLIA_AESNI_AVX_X86_64 n
+CRYPTO_CAMELLIA_X86_64 n
+CRYPTO_CAST5 n
+CRYPTO_CAST5_AVX_X86_64 n
+CRYPTO_CAST6 n
+CRYPTO_CAST6_AVX_X86_64 n
+CRYPTO_CBC n
+CRYPTO_CCM n
+CRYPTO_CHACHA20 n
+CRYPTO_CHACHA20POLY1305 n
+CRYPTO_CHACHA20_X86_64 n
+CRYPTO_CMAC n
+CRYPTO_CRC32 n
+CRYPTO_CRC32C y
+CRYPTO_CRC32C_INTEL n
+CRYPTO_CRC32_PCLMUL n
+CRYPTO_CRCT10DIF n
+CRYPTO_CRYPTD n
+CRYPTO_CTR n
+CRYPTO_CTS n
+CRYPTO_CURVE25519 n
+CRYPTO_CURVE25519_X86 n
+CRYPTO_DEFLATE n
+CRYPTO_DES n
+CRYPTO_DES3_EDE_X86_64 n
+CRYPTO_DEV_AMLOGIC_GXL n
+CRYPTO_DEV_CCP n
+CRYPTO_DEV_PADLOCK n
+CRYPTO_DEV_QAT_420XX n
+CRYPTO_DEV_QAT_4XXX n
+CRYPTO_DEV_QAT_C3XXX n
+CRYPTO_DEV_QAT_C3XXXVF n
+CRYPTO_DEV_QAT_C62X n
+CRYPTO_DEV_QAT_C62XVF n
+CRYPTO_DEV_QAT_DH895xCC n
+CRYPTO_DEV_QAT_DH895xCCVF n
+CRYPTO_DEV_SAFEXCEL n
+CRYPTO_DEV_VIRTIO n
+CRYPTO_DH n
+CRYPTO_DRBG_MENU n
+CRYPTO_ECB n
+CRYPTO_ECDH n
+CRYPTO_ECDSA n
+CRYPTO_ECHAINIV n
+CRYPTO_ECRDSA n
+CRYPTO_ESSIV n
+CRYPTO_FCRYPT n
+CRYPTO_GCM n
+CRYPTO_GHASH n
+CRYPTO_GHASH_CLMUL_NI_INTEL n
+CRYPTO_HASH y
+CRYPTO_HASH2 y
+CRYPTO_HCTR2 n
+CRYPTO_HMAC n
+CRYPTO_HW y
+CRYPTO_JITTERENTROPY n
+CRYPTO_KEYWRAP n
+CRYPTO_LIB_CHACHA20POLY1305 n
+CRYPTO_LIB_UTILS y
+CRYPTO_LRW n
+CRYPTO_LZ4 n
+CRYPTO_LZ4HC n
+CRYPTO_LZO n
+CRYPTO_MANAGER n
+CRYPTO_MANAGER_DISABLE_TESTS y
+CRYPTO_MD4 n
+CRYPTO_MD5 n
+CRYPTO_MICHAEL_MIC n
+CRYPTO_NHPOLY1305_AVX2 n
+CRYPTO_NHPOLY1305_SSE2 n
+CRYPTO_NULL n
+CRYPTO_PCBC n
+CRYPTO_POLY1305 n
+CRYPTO_POLY1305_X86_64 n
+CRYPTO_POLYVAL_CLMUL_NI n
+CRYPTO_RMD160 n
+CRYPTO_RSA n
+CRYPTO_SEQIV n
+CRYPTO_SERPENT n
+CRYPTO_SERPENT_AVX2_X86_64 n
+CRYPTO_SERPENT_AVX_X86_64 n
+CRYPTO_SERPENT_SSE2_X86_64 n
+CRYPTO_SHA1 n
+CRYPTO_SHA1_SSSE3 n
+CRYPTO_SHA256 n
+CRYPTO_SHA256_SSSE3 n
+CRYPTO_SHA3 n
+CRYPTO_SHA512 n
+CRYPTO_SHA512_SSSE3 n
+CRYPTO_SM2 n
+CRYPTO_SM3_AVX_X86_64 n
+CRYPTO_SM3_GENERIC n
+CRYPTO_SM4_AESNI_AVX2_X86_64 n
+CRYPTO_SM4_AESNI_AVX_X86_64 n
+CRYPTO_SM4_GENERIC n
+CRYPTO_STREEBOG n
+CRYPTO_TEST n
+CRYPTO_TWOFISH n
+CRYPTO_TWOFISH_AVX_X86_64 n
+CRYPTO_TWOFISH_X86_64 n
+CRYPTO_TWOFISH_X86_64_3WAY n
+CRYPTO_VMAC n
+CRYPTO_WP512 n
+CRYPTO_XCBC n
+CRYPTO_XTS n
+CRYPTO_XXHASH n
+CRYPTO_ZSTD n
+EXT4_DEBUG n
+EXT4_FS_POSIX_ACL n
+EXT4_FS_SECURITY n
+EXT4_USE_FOR_EXT2 y
+FS_MBCACHE y
+JBD2 y
+JBD2_DEBUG n
