 BLOCK n -> y
+ATA n
+BCACHEFS_FS n
+BLK_DEV y
+BLK_DEV_BSGLIB n
+BLK_DEV_FD n
+BLK_DEV_INTEGRITY n
+BLK_DEV_LOOP n
+BLK_DEV_NULL_BLK n
+BLK_DEV_RAM n
+BLK_DEV_UBLK n
+BLK_DEV_WRITE_MOUNTED y
+BLK_DEV_ZONED n
+BLK_INLINE_ENCRYPTION n
+BLK_WBT n
+BLOCK_LEGACY_AUTOLOAD y
+BTRFS_FS n
+EFI_PARTITION y
+EXFAT_FS n
+EXT2_FS n
+EXT3_FS n
+EXT4_FS n
+F2FS_FS n
+FS_IOMAP y
+GFS2_FS n
+HIBERNATION n
+IOSCHED_BFQ n
+ISO9660_FS n
+JFS_FS n
+LIBNVDIMM n
+MD n
+MQ_IOSCHED_DEADLINE y
+MQ_IOSCHED_KYBER y
+MSDOS_FS n
+MSDOS_PARTITION y
+NILFS2_FS n
+NTFS3_FS n
+NTFS_FS n
+NVME_FC n
+PARTITION_ADVANCED n
+RAID_ATTRS n
+REISERFS_FS n
+SBITMAP y
+SCSI n
+SCSI_MOD y
+SWAP y
+TARGET_CORE n
+UDF_FS n
+VFAT_FS n
+X86_PMEM_LEGACY n
+XFS_FS n
+ZSWAP n
